.faqs {
    margin-block: 1em;
}

.faqs-title {
    margin-block: 0.35em;
    padding-blocK: 0.2em;
    border-bottom: 1px solid white;
}

.faqs .faq .q-title {
    margin-bottom: 0.45em;
}

.faqs .faq .pointer {
    font-weight: bolder;
}

.faqs .faq .a {
    color: var(--clr-muted);
    margin-left: 1em;
    text-indent: 0.5em;
}
