.list {
    display: flex;
    flex-direction: column;
    padding-inline: 0.45em;
    gap: 1rem;
}

.list .el {
    width: 100%;
    padding-bottom: 0.65em;
    border-bottom: 1px solid var(--bg-muted);
}