.updates .update .changelog {
    list-style: disc;
    padding: 1em;
}

.updates .update .changelog li {
    padding: 0.3em;
    color: var(--clr-muted);
}

.updates .update .changelog li::marker {
    color: var(--clr-secondary);
}