/* Utils */
.upper {
    text-transform: uppercase;
}

.date {
    font-size: calc(var(--fs-400) * 0.8);
    color: var(--clr-muted);
}

/* Font changes */
.fs-sm {
    font-size: var(--fs-400) !important;
}

.fw-n {
    font-weight: normal !important;
}

/* Flex & Grid */
.flex-align-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex-05 {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.align-end {
    align-items: flex-end;
}

/* Buttons */
.btn {
    font-size: var(--fs-450);
    font-weight: bold;
    padding: 0.45em;
    background-color: transparent;
    border: 2px solid var(--clr-seconday);
    color: white;
    cursor: pointer;
    transition: background-color 100ms ease-out;
}

.btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.btn:not(:disabled):hover {
    background-color: var(--clr-seconday);
}

.def-btn {
    border: 0;
    cursor: pointer;
}

.round {
    border-radius: 100vw;
}

.cube {
    border-radius: 1rem;
}

/* Percentage */
.pct {
    padding: 0.25em;
    text-align: center;
    background-color: var(--pct-primary);
    color: var(--pct-secondary)
}

.pct:empty {
    display: none;
}

/* Popup */
.popup {
    position: fixed;
    place-self: center;
    bottom: 2%;
    padding: 0.2em 0.4em;
    border: 1px solid var(--err-primary);
    border-radius: 4px;
    background-color: var(--err-secondary);
    transform: scale(0);
    transition: transform 250ms ease-out;
}

.popup.active {
    transform: scale(1);
}

/* Switches */
.switch {
    position: relative;
    width: 2.65rem;
    height: 1.5rem;
}

.switch .inpt-switch {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.switch .slider {
    position: absolute;
    inset: 0;
    background-color: var(--clr-muted);
    cursor: pointer;
    pointer-events: none;
}

.switch .slider::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: inherit;
    background-color: white;
    top: 20%;
    left: 8%;
    transition: transform 120ms ease-out;
}

.switch .inpt-switch:checked + .slider {
    background-color: var(--clr-seconday);
}

.switch .inpt-switch:checked + .slider::after {
    transform: translateX(110%);
}

/* Loading bar */
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: var(--clr-seconday);
    transition: width 8s linear;
}

/* Accessiblity */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    margin-top: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}